.mobile {
    display: none;
  }

  #mobile-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }

  #logo {
      width: 100%;
  }
  
  html, body {
    overflow-x: hidden;
    font-family: SFFlorenceSans;
  }

  
  /*Sidebar Nav Start*/
  
  #sidebar-wrapper {
    margin-top: 52px;
    min-height: 100vh;
    margin-left: -270px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: fixed;
    z-index: 1;
  }
  
  .menuToggle {
    margin-left: 270px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 270px;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper  {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    
    #mobile-navbar {
      display: none;
    }

    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -270px;
    }
  
  }
  
  /*Sidebar Nav End*/
  
  
  @font-face {
    font-family: 'SFFlorenceSans';
    font-weight: 100;
    src: url('./sfflorencesans.ttf');
  }

  @font-face {
    font-family: 'Tripolitania';
    font-weight: 100;
    src: url('./Tripolitania\ Handwritten\ \(FREE\).ttf');
  }

  @font-face {
    font-family: 'Malvinas';
    font-weight: 100;
    src: url('./Malvinas\ Signature\ \(Free\ Personal\ Use\).ttf');
  }

  .sidebar-heading h1 {
    font-family: 'Malvinas';
    font-weight: bold;
    color: black;
    font-size: 36px;
  }

  .navbar h1 {
    font-family: 'Malvinas';
    font-weight: bold;
    color: black;
  }
  
  .align-items-center {
      display: flex; 
      align-items: center;  /*Aligns vertically center */
      justify-content: center; /*Aligns horizontally center */
    }
  
    nav li a {
      color: black;
      font-size: 16px !important;
      font-weight: 600;
    }
    
    nav li a:hover {
      color: rgb(254, 237, 230) !important;
      transition: 0.3s linear;
    }
    
    #navbarNav {
      width: 100%;    
    }
    
    nav {
      z-index: 1;
      height: auto;
    }
    
    .hamburger {
      color: rgba(0,0,0,0.7);
      left: -270px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    }

  
  header {
      background-image: url('./jumbotron.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  header .align-items-center { 
    width: 100%; 
    height: 100vh;
  }
  
  .welcome {
    margin-top: -30%;
  }
  
  #work-btn, #work-btn-mobile {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.25s linear;
  }
  
  #work-btn:hover, #work-btn-mobile:hover {
    color: #fff;
    border: none;
    transition: 0.5s linear;
  }
  
  .enter {
    animation: MoveUpDown 1.2s ease-in-out infinite;
    position: absolute;
    top:90vh;
    transform:translateY(-10%);
    width:100%;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 95vh;
    }
    50% {
      bottom: 5px;
    }
  }
  
  .fa-angle-double-down {
    transition: 0.15s linear;
    color: black;
  }
  
  h2 {
    color: rgb(69, 71, 74);
    font-weight: bolder;
  }
  
  h3 {
    font-size: 29px;
    font-weight: bold;
  }
  
  h5 {
    color: rgb(98, 98, 98);
    font-weight: bolder;
  }
  
  p {
    line-height: 1.8;
  }
  
  .pink {
    color: rgb(254, 237, 230);
  }
  
  .main {
    background-image: url('./jumbotron-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main .align-items-center {
    width: 100%; 
    height: 50vh;  
  }
  
  .images {
    width: 100%;
    border: 5px solid black;
  }
  
  button {
    background-color: black;
    color: rgb(254, 237, 230);
    padding: 5px;
  }
  
  .mid-banner-info, .carousel-reviews-info {
    background-color: rgba(255,255,255,0.7);
  }
  
  .article {
    background-image: url('./jumbotron-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .article .align-items-center {
    
    width: 100%; 
    height: 100vh;
  }
  
  #owner-img {
    width: 100%;
    max-width: 90%;
  }
  
  .section {
    background-color: rgb(254, 237, 230);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .section .align-items-center {
    width: 100%; 
    height: 65vh;
  }
  
  .carousel-reviews-info {
      width: 100%;
      font-size: 16px;
      height: auto;
      min-height: 300px;
  
  }
  
  .carousel-reviews-info p {
    font-size: 18px;
  }
  
  .e-mail {
    width: 100%;
    max-width: 30%;
  }
  
  footer {
    
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  
  footer p {
    font-size: 12px;
  }
  
  /* Broad Range Queries */
  @media (min-width: 319.98px) and (max-height: 375px) { 
    
    .carousel-reviews-info {
        width: 100%;
        font-size: 16px;
        height: auto;
        min-height: 300px;
    }
  }
  
  @media (min-width: 767.98px) {
    #about h3, #about p {
      text-align: left !important;
    }
  
  }
  
  
  @media (max-width: 767.98px) { 
     .web {
       display: none;
     }
  
     .mobile {
       display: flex !important;
     }

     #sidebar-wrapper {
       display: block !important;
     }

  
  }

  @media (max-width: 991.98px) { 
    
     .enter {
      display: none !important;
    }
 
 }
  

  
  /* Broad Range Queries - End */
  
  
  /*Ranged Media Queries */
  
  @media (max-width: 320.98px){ 
   
    header .align-items-center { 
      width: 100%; 
      height: 92vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }
   
  @media (width: 321px) and (max-width: 359.98px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 85vh !important;
    }
  
    .enter {
      top: 85vh !important;
    }
  
  }
  
/* iPhone 5/SE */

@media (width: 320px) and (height: 568px) {

}


  /* Moto G4 and Galaxy S5*/

  @media (width: 360px) and (height: 640px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
    
  }
  
  /*Pixel 2*/
  @media (width: 411px) and (height: 731px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }
  

  /*Pixel 2 XL*/
  @media (width: 411px) and (height: 823px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }

  /* iPhone 6/7/8 */
  
  @media (width: 375px) and (height: 667px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPhone X */
  @media (width: 375px) and (height: 812px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 812px !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPhone 6/7/8 Plus */

  @media (width: 414px) and (height: 736px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPad */
  @media (width: 768px) and (height: 1024px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 73vh !important;
    }
  
    .enter {
      top: 70vh !important;
    }
  
  }
  
    /* iPad Pro*/
  @media (width: 1024px) and (height: 1366px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 60vh !important;
    }
  
    .enter {
      top: 52vh !important;
      transform:translateY(-3%);
    }
  
  }
  
  @media (max-width: 575.98px) { 
   
   header .align-items-center { 
      width: 100%; 
      height: 65vh;
    }
  
    .enter {
      top: 65vh;
    }
  
    .section .align-items-center {
      width: 100%; 
      height: 85vh;
    }
    
    .carousel-reviews-info {
      font-size: 16px;
      height: auto;
      min-height: 420px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-brand {
      display: none !important;
    }
  
    header .align-items-center { 
      width: 100%; 
      height: 50vh;
    }
  
    .enter {
      top: 50vh;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
   
    .navbar-brand {
      display: none;
    }
    
    header .align-items-center { 
      width: 100%; 
      height: 90vh;
    }
  
    .enter {
      top: 85vh;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
    
  }
  
  @media (min-width: 1200px) { 
    
  }
  
  